@use "functions" as f;
@forward "variables";
.container {
  max-width: 550px;
  width: 95%;
  margin-inline: auto;
  font-family: "League Spartan", sans-serif;
}
.author {
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-size: clamp(f.rem(16), 5vw, f.rem(25));
  max-width: inherit;
  // width: 95%;
  margin-top: f.rem(15);
  margin-inline: auto;
  a {
    color: var(--txt-clr);
    &:hover {
      color: var(--txt-clr-hover);
    }
  }
}
