@forward "variables";
@use "functions" as f;
@use "mixins" as m;
.button-case {
  width: 100%;
  border-radius: f.rem(5);
  background: var(--kp-bg-toggle);
  padding: f.rem(25) f.rem(25) f.rem(35);
  @include m.flex(20, wrap);
}
.btn {
  border-radius: f.rem(5);
  font-size: clamp(f.rem(20), 5vw, f.rem(32));
  font-weight: 900;
  width: calc((100% / 4) - f.rem(15));
  text-align: center;
  padding-block: f.rem(10);
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
}
.nums {
  background-color: var(--k-bg-grey);
  color: var(--txt-clr-blue);
  box-shadow: 0 f.rem(4) var(--k-shadow-grey);
  &:hover {
    background-color: var(--k-shadow-grey);
    color: var(--txt-clr-hover);
  }
}
.special-key {
  color: var(--txt-clr);
  background-color: var(--k-bg-blue);
  box-shadow: 0 f.rem(4) var(--k-shadow-blue);
  &:hover {
    background-color: var(--k-shadow-blue);
    color: var(--txt-clr-hover);
  }
}
