@forward "variables";
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  &:hover {
    color: rgba(0, 0, 0, 0.4);
  }
}
li {
  list-style: none;
}
button {
  border: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
