@use "functions" as f;
@mixin flex($gap: 0, $wrap: no-wrap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: f.rem($gap);
  flex-wrap: $wrap;
}
@mixin switches($value) {
  content: $value;
  position: absolute;
  color: rgb(0, 0, 0);
  top: f.rem(-25);
  left: 50%;
  transform: translateX(-50%);
}
